#background {
    opacity: 0.8;
    z-index: -1; 
    width: 100%; 
    background-image: url("Images/Football.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

#output {
    color: white;
    text-align: center;
    font-size: 18px;
}