h1{
    text-align: center;
    color: white;
}

body {
    background-image: url("Images/Football.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

#background {
    
    margin: 0 auto;
}

#outputbackground {
    display: flex;
    background: rgba(234, 222, 222, 0.564);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(225, 219, 219, 0.3);
    width: 50%;
    justify-content: center;
    margin: 0 auto;
}

#output {
    color: black;
    text-align: center;
    font-size: 18px;
    width: 100%;
}

.teamIMG {
    display:flex;
    align-items: center;
  }

.teamIMG img {
    height: 35px;
    width: 35px;
  }

.table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: white;
    width: auto;
    padding:15px;
  }




