*{
    font-family: monospace;
}

body {
    background-color: #F5F5DC;
    
}

h1 {
    padding: 10px;
    text-align: center;
}

.buttons {
    margin: 10px;
    text-align: center;
    padding: 5px 5px;
    
}

#content {
    text-align: center;
    font-size: 30px;
}

#number1 {
    padding: 6px 10px;
}

#output {
    text-align: center;
}

#dollar:hover {
    background-color: darkgray;
    color: white;
}

#dollar {
    font-size: 20px;
    border: 20px;
    transition-duration: 0.4s;
    border: 2px solid #3b253a;
    border-radius: 10px;
}

#yen:hover {
    background-color: darkgray;
    color: white;
}

#yen {
    font-size: 20px;
    border: 20px;
    transition-duration: 0.4s;
    border: 2px solid #3b253a;
    border-radius: 10px;
}

#dinar:hover {
    background-color: darkgray;
    color: white;
}

#dinar {
    font-size: 20px;
    border: 20px;
    transition-duration: 0.4s;
    border: 2px solid #3b253a;
    border-radius: 10px;
}

#lira:hover {
    background-color: darkgray;
    color: white;
}

#lira {
    font-size: 20px;
    border: 20px;
    transition-duration: 0.4s;
    border: 2px solid #3b253a;
    border-radius: 10px;
}